.main h1 {
    font-family: 'Roboto', sans-serif;
    font-size : 2.5rem;
    font-weight: 700;
}

.main .head{
    /* height: 200px; */
    padding: 2em 0px;
}

.main .info_body p{
    font-family: 'Roboto', sans-serif;
    font-size : 1rem;
    margin-top: 1rem;
}

.main .info_body h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-top: 2.5rem;
    font-weight: 600;
}

.main .info_body h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    margin-top: 1.125rem;
    font-weight: 600;
}

.main .info_body a{
    color: #FB923C;
    font-weight: 600;
}

.main .info_body ol{
    font-family: 'Roboto', sans-serif;
    margin-left:20px;
    padding: 0px 10px;
    list-style-type:decimal;
    font-size : 1rem;
}

.main .info_body ul{
    font-family: 'Roboto', sans-serif;
    margin-left:20px;
    padding: 0px 10px;
    list-style-type:disc;
    font-size : 1rem;
}

.main .info_body li{
    margin-top: 0.5em;
}

.main .info_body .image{
    margin-top : 2.5em;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 640px) {
    .main h1 {
        font-size : 2rem;
    }
    .main .info_body p{
        font-size: 0.9rem;
    }
    .main .info_body h2{
        font-size: 1.5rem;
    }
    .main .info_body h3{
        font-size: 1rem;
    }
    .main .info_body ul{
        font-size:0.9rem;
    }
    .main .info_body ol{
        font-size:0.9rem;
    }
  }